---
filter:   erb
---

<% sidebar_box "Projects" do %>
  <h4><%= link_to 'DataMapper Form Friendly Integer', 'http://github.com/roovo/dm-form_friendly_integer' %></h4>
  <p>
    A variant of the DataMapper Integer type which
    is well behaved when used with html forms.
  </p>
  <h4><%= link_to 'Virgin Movies Twitter Bot', 'http://github.com/roovo/virgin_movies_twitter_bot' %></h4>
  <p>
    A page scraping twitterer to keep me posted on
    what's coming up on Virgins On Demand movies.
  </p>
<% end %>
