---
filter:   erb
dirty:    true
---

<div class="side-box">
   <div class="corner-top"><div></div></div>
      <div class="corner-content">
        <div class="project">
          <h3><%= title %></h3>
          <div class="side-box-content">
            <%= body %>
          </div>
        </div>
      </div>
   <div class="corner-bottom"><div></div></div>
</div>
